<config>
	<comport 	
				name="COM4" 
				speed="115200" 
	/>
	
	<modbus 	
				client_start_id="1" 
				client_max_count="1" 
				data_start_address="20"
				client_data_address="10"
                                poll_period="5000"
                                timeout_ms="100"
	/>
	
	<exchange 	
				map_file_from_unit="from_unit_to_web_map.xml"
				map_file_to_unit="from_web_to_unit_map.xml"
				time_file="time_map.xml"
				check_period="2000"
	/>
	
</config>